#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

.starability-basic {
  min-height: 40px !important;
}

.show-image,
.preview-image {
  height: 400px;
  object-fit: cover !important;
  object-position: center !important;
}

.preview-image {
  height: 300px;
}
